body {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }
header,h1{
    background-color: black;
    margin: 5px;
    text-align: center;
    color: white;
}
.container {
    width: 450px;
    margin: auto;
}
.post {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
div.post img {
    width: 100%;
}
.post1 {
    float: left;
    padding: 10px;
    margin: 10px;
}
.post2 {
    position:  relative;
    padding: 5px;
    margin: 5px;
}
.post3{
    float: right;
    padding: 10px;
    margin: 10px;
}
.iconos{
    padding: 10px;
    margin: 10px;
}
.icon-left{
    float: leftt;
    position:absolute;
    
}
.icon-right{
    float: right;
   
}
.texto{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
